@font-face {
    font-family: 'Bold';
    src: url('/fonts/Oswald-Bold.ttf') format('truetype'),;
}

@font-face {
    font-family: 'Regular';
    src: url('/fonts/Oswald-Regular.ttf') format('truetype'),;
}